/*--------------------------------------------------------------
                        General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# tipografia
--------------------------------------------------------------*/
.titulo {
  letter-spacing: 3px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #4d130b;
  margin-bottom: 2rem; }

.titulo--secundario {
  color: white;
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-shadow: 1px 3px 5px grey;
  margin-bottom: 1rem; }

.card-text {
  text-align: center; }

/*--------------------------------------------------------------
# Colores
--------------------------------------------------------------*/
.home__container {
  background-color: #d2f5e3; }

.quienes_somos__container {
  background-color: #f5e3ce; }

.catalogo__container {
  background-color: #d2f5e3; }

.galeria__container {
  background-color: #f5e3ce; }

.contacto__container {
  background-color: #94b4a4;
  padding-top: 2rem; }

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
html {
  scroll-behavior: smooth; }

section {
  padding: auto;
  margin: auto; }

.home__container,
.quienes_somos__container,
.catalogo__container,
.galeria__container,
.contacto__container {
  padding: 50px;
  margin: 50px;
  transition: all 0.2s;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.1); }

/*--------------------------------------------------------------
                       Secciones
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# quienes somos
--------------------------------------------------------------*/
.card-img-top {
  opacity: 0.8;
  filter: grayscale(80%); }

.card-img-top:hover {
  opacity: 1;
  filter: none; }

/*--------------------------------------------------------------
# catalogo
--------------------------------------------------------------*/
.row {
  display: flex;
  margin-bottom: 1rem; }

.card {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.1); }

.searchbar {
  border: none;
  padding: 0.5rem;
  margin: 1.5rem; }

/*--------------------------------------------------------------
# Contacto
--------------------------------------------------------------*/
input,
textarea,
.btn {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  border: none; }

.contacto__redes img:hover {
  filter: none;
  opacity: 1;
  animation: pulse;
  animation-duration: 1s; }

.contacto__redes a:hover {
  text-decoration: none;
  color: white;
  animation: pulse;
  animation-duration: 1s; }

.icon {
  width: 50px;
  height: 50px;
  filter: grayscale(80%);
  opacity: 0.8; }

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100; }

.whatsapp-icon {
  margin-top: 13px; }

/*--------------------------------------------------------------
# galeria
--------------------------------------------------------------*/
.galeria__fotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around; }

.galeria__fotos img {
  transition: transform 0.8s;
  opacity: 0.8;
  border-radius: 40px;
  filter: grayscale(100%);
  padding: 0.6rem; }

.galeria__fotos img:hover {
  opacity: 1;
  filter: none;
  animation: pulse;
  animation-duration: 1s; }

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
#logo a {
  font-size: 30px;
  letter-spacing: 3px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px 3px grey; }

nav a {
  font-size: 1rem;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  transition: 0.3s; }

nav a:hover {
  text-shadow: 2px 2px 2px #4d130b;
  text-decoration: none; }

nav {
  background-color: #ffa5a5;
  border: none;
  transition: all 0.2s;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.1); }

/*--------------------------------------------------------------
                     Media queries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# MOBILE
--------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 768px) {
  .icon {
    width: 40px;
    height: 40px;
    filter: none;
    opacity: 1;
    display: block; }
  .titulo {
    font-size: 18px;
    font-weight: bold; }
  .titulo--secundario {
    color: white;
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-shadow: 1px 3px 5px grey;
    margin-bottom: 1rem; }
  .galeria__fotos img {
    opacity: 1;
    filter: none;
    width: 125px;
    height: 125px; }
  .galeria__fotos img:hover {
    animation: none;
    animation-duration: 1s; }
  .card-img-top {
    opacity: 1;
    filter: none;
    width: 123px;
    height: 70px; }
  .card-text {
    font-size: smaller; }
  .card {
    margin: 10px; } }

/*--------------------------------------------------------------
# TABLET
--------------------------------------------------------------*/
@media (max-width: 1024px) {
  .icon {
    width: 40px;
    height: 40px;
    filter: none;
    opacity: 1;
    display: block; }
  .titulo {
    font-size: 22px;
    font-weight: bold; }
  .titulo--secundario {
    color: white;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-shadow: 1px 3px 5px grey;
    margin-bottom: 1rem;
    text-align: center; }
  .galeria__fotos img {
    opacity: 1;
    filter: none;
    width: 175px;
    height: 175px; }
  .galeria__fotos img:hover {
    animation: none; }
  .card-img-top {
    opacity: 1;
    filter: none;
    width: 123px;
    height: 70px; }
  .card {
    margin: 15px; } }
