/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/


section {
  padding: auto;
  margin: auto;
}

.home__container,
.quienes_somos__container,
.catalogo__container,
.galeria__container{
  padding: 50px;
	margin:50px;
}

.row{
  margin: 1rem;
  padding:1rem;
}


/*--------------------------------------------------------------
# Formulario
--------------------------------------------------------------*/
.contacto__formulario{
  padding: 5px;
  margin: 5px;
}

input,
textarea{
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  border: none;
}

/*--------------------------------------------------------------
# Colores
--------------------------------------------------------------*/
.quienes_somos__container {
	background-color: #ccfa93; 
  transition: all 0.2s;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.catalogo__container{
	background-color: #91e6d6; 
  transition: all 0.2s;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.1);
}


.galeria__container {
	background-color: #dbabf7;
    transition: all 0.2s;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.1); 
}


.contacto__container {
	background-color:#ffa8de; 
  display: flex;
  padding-top: 30px;
    transition: all 0.2s;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.1);
}


/*--------------------------------------------------------------
# tipografia
--------------------------------------------------------------*/

.galeria__encabezado,
.quienes__somos__encabezado,
.catalogo__encabezado{
	text-align: center;
}


.catalogo__titulo{
  letter-spacing: 3px;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.quienes__somos__pic{
	max-height: 300px;
	max-width: 300px;
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

#logo a{
	font-size:30px;
  	letter-spacing: 3px;
  	color: #ffffff;
  	font-family: sans-serif;
  	font-weight: bold;
  	text-decoration: none;
  	text-shadow:2px 2px 3px grey;
}


nav a{
  font-size:15px;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #ffffff;
  transition: 0.3s;

}


nav a:hover{
 	text-shadow:2px 2px 2px white;
 	color: #000000;
  font-weight: bold;
  text-decoration: underline;
	}

nav{
	background-color: #53dba7;
    border: none;
  transition: all 0.2s;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

